<!DOCTYPE html>
<html>
<head>
  <title>Confirmation d'inscription</title>
</head>
<body>
<h1>Bienvenue sur notre plateforme !</h1>
<p>Merci de vous être inscrit. Veuillez confirmer votre inscription en cliquant sur le lien ci-dessous :</p>
<a href="{{confirmationUrl}}">Confirmer votre inscription</a>
</body>
</html>
